<h1>Welcome</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<td><%= link_to 'DangNhap', login_path %></td>
<td><%= link_to 'list Account', '/Danhsach' %></td>
<td><%= button_to "Thong Ke Nam", '/Danhsachnam', :method => "get" %></td>
